body .p-menubar {
  text-align: center;
  border: 0px !important;
}
.p-menubar .p-menubar-root-list {
  margin: 0 auto;
}
.filter-form {
  width: 40vw;
  min-height: 40vh;
}
.filter-form .p-dropdown {
  width: 100%;
}
